body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font: small-caps;
  background-image: url('https://images4.alphacoders.com/936/thumb-1920-936378.jpg');
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
 
  
}





